version: '3.8'
services:
  redis:
    image: redis:latest
    ports:
      - '6379:6379'
  mailhog:
    image: mailhog/mailhog
    ports:
      - '1025:1025'  # SMTP port for sending emails
      - '8025:8025'  # Web UI to view emails